@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryColor: hsl(0, 0%, 98%);
    --segundaryColor: hsl(0, 0%, 41%);
    --tertiartColor: hsl(0, 0%, 8%);
    --defaulFont: 18px;
}

body {
    font-family: "Epilogue", serif;
}

.header {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
}

.header-img {
    width: 87px;
}

.menu-toggle{
border: none;
background-color: transparent;
cursor: pointer;
}

.menu{
    position: fixed;
    top: 0;
    display: flex;
    right: -100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    height: 100vh;
    padding: 32px 38px 0 24px;
    background-color: white;
    transition: right 0.2s ease-out;

}

.menu-close{
    width: 24px;
    align-self: flex-end;
}

.container-buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-feat, .button-company, .button-careers, .button-about{
    border: none;
    background-color: transparent;
    color: var(--segundaryColor);
    font-weight: bold;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-buttons>button{
    border: none;
    background-color: transparent;
    color: var(--segundaryColor);
}

#button-regist{
    border: 1px solid var(--segundaryColor);
    padding: 13px 42px;
}

.figure-img {
    width: 100%;
    height: 281px;
}

.main__inf {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}
/*Alteracao html-14/02*/

.inf-text {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    color: var(--segundaryColor);
    text-align: center;
    width: 343px;
}

.inf-button {
    background-color: var(--tertiartColor);
    color: var(--primaryColor);
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.footer {
    padding: 0 0  28px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    
}

.footer-img { 
    width: 60px; 
    height: auto;
}


@media (min-width: 1440px){
    .header{
        padding: 32px;
    }

    .header-img{
        width: 83px;
        height: 27px;
    }

    .main {
        display: flex;
        flex-direction: row;
    }


    .figure-img{
        background: url('/intro-section-with-dropdown-navigation-main/intro-section-with-dropdown-navigation-main/images/image-hero-desktop.png');
    }
}

